main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}


.big-font {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.header {
    width: 98%;
    height: 100px;
    background-color: steelblue;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}