main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}


.big-font {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: left;
    padding: 20px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: steelblue;
}

.dropdown {
    float: right;
    margin-right: 20px;
    bottom: 50px
}

.form-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.left-box {
    width: 20%;
    height: 50px;
}

.right-box {
    width: 5%;
    height: 50px;
}